<div class="fiftyohm-content-index">
  <div>
    <h1>{{ snippets.index_title }}</h1>
    <p>
      {{ snippets.index_teaser }}
    </p>
    <div class="d-grid gap-3 d-md-block my-5">
      <a href="#lernen" class="btn btn-primary btn-lg">{{ snippets.index_btn_start }}</a>
      <a href="infos.html" class="btn btn-outline-secondary btn-lg">{{ snippets.index_btn_was_ist_afu }}</a>
    </div>
    <p>
      <div class="alert alert-primary" role="alert">
        {{ snippets.index_content }}
      </div>
    </p>
  </div>
  <div>
    <h1>&nbsp;</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/hero/hero06.jpg" class="d-block w-100" alt="...">
          <div class="position-absolute bottom-0 text-light w-100" style="background-color: rgba(0, 0, 0, 0.5)">
            <p class="p-2 m-0 text-end">Foto: DK5WP df0alz.de</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/hero/hero02.jpg" class="d-block w-100" alt="...">
          <div class="position-absolute bottom-0 text-light w-100" style="background-color: rgba(0, 0, 0, 0.5)">
            <p class="p-2 m-0 text-end">Foto: DK5WP df0alz.de</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/hero/hero03.jpg" class="d-block w-100" alt="...">
          <div class="position-absolute bottom-0 text-light w-100" style="background-color: rgba(0, 0, 0, 0.5)">
            <p class="p-2 m-0 text-end">Foto: DK4HAA draussenfunker.de</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/hero/hero01.jpg" class="d-block w-100" alt="...">
          <div class="position-absolute bottom-0 text-light w-100" style="background-color: rgba(0, 0, 0, 0.5)">
            <p class="p-2 m-0 text-end">Foto: DB8KN bei DL0JMU</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/hero/hero04.jpg" class="d-block w-100" alt="...">
          <div class="position-absolute bottom-0 text-light w-100" style="background-color: rgba(0, 0, 0, 0.5)">
            <p class="p-2 m-0 text-end">Foto: DK4HAA draussenfunker.de</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/hero/hero05.jpg" class="d-block w-100" alt="...">
          <div class="position-absolute bottom-0 text-light w-100" style="background-color: rgba(0, 0, 0, 0.5)">
            <p class="p-2 m-0 text-end">Foto: DO3OI</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Precedente</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Successivo</span>
      </button>
    </div>
  </div>
</div>

<a name="lernen"></a>

<div class="row g-5 pt-5 mt-2 row-cols-1">
  <div class="col col-lg-4">
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M480-60q-72-68-165-104t-195-36v-440q101 0 194 36.5T480-498q73-69 166-105.5T840-640v440q-103 0-195.5 36T480-60Zm0-104q63-47 134-75t146-37v-276q-73 13-143.5 52.5T480-394q-66-66-136.5-105.5T200-552v276q75 9 146 37t134 75Zm0-436q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T560-760q0-33-23.5-56.5T480-840q-33 0-56.5 23.5T400-760q0 33 23.5 56.5T480-680Zm0-80Zm0 366Z"/></svg>
      </div>
      <h2>Studiare online</h2>
      <p>Acquisisci in autonomia e con facilità le conoscenze necessarie per l'esame di radioamatore. Il nostro materiale didattico ti accompagna lungo tutto il percorso. Esistono le due <a href="infos.html">classi HB3 e HB9</a> con diversi livelli di difficoltà e privilegi.</p>
      <h5>Corsi</h5>
      <p>Offriamo online contenuti didattici nelle seguenti edizioni:</p>
      <div class="row row-cols-lg-3 g-2">
        <div class="col"><a href="NE_course_index.html" class="btn btn-outline-dark w-100">HB3<br><small>Principianti</small></a></div>
        <div class="col"><a href="A_course_index.html" class="btn btn-outline-dark w-100 disabled">HB3 -> HB9<br><small>Passaggio a HB9</small></a></div>
        <div class="col"><a href="NEA_course_index.html" class="btn btn-outline-dark w-100 disabled">HB3 &amp; HB9<br><small>Corso completo</small></a></div>
      </div>
      <br>
      <h5>USKA Chat</h5>
      <p>L'USKA gestisce per 50Ω una propria istanza Matrix. Lì trovi uno spazio in cui puoi porre le tue domande sulla formazione, prima o durante il percorso:</p>
      <div class="row row-cols-lg-3">
        <div class="col"><a href="todo.html" class="btn btn-outline-dark w-100">💬 Formazione</a></div>
      </div>
      <br>
      <h5>Diventare membro</h5>
      <p>L'<a href="https://uska.ch/">USKA</a> è l'associazione dei radioamatori in Svizzera. I suoi membri ti accompagnano nel percorso verso l'esame di radioamatore e anche oltre.</p>
      <div class="row row-cols-lg-2">
        <div class="col"><a href="https://uska.ch/en/die-uska/administration/uska-mitglied-werden/" class="btn btn-outline-dark w-100">Diventare membro</a></div>
      </div>
    </div>
  </div>
  <div class="col col-lg-8 row g-5 pb-5 m-0 row-cols-1 row-cols-lg-2">
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" fill="#5f6368"><path d="m380-300 280-180-280-180v360ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-480H160v480Zm0 0v-480 480Z"/></svg>
      </div>
      <h2>Videocorsi</h2>
      <p>50Ω Svizzera si basa su <a href="https://50ohm.de">50Ohm.de</a> con le domande della Bundesnetzagentur tedesca. I videocorsi tedeschi sono utili anche in Svizzera per la formazione in tecnica ed esercizio. Le normative, invece, si differenziano sensibilmente tra Svizzera e Germania. Per questo motivo questi video non sono adatti alla preparazione dell'esame per la parte normativa.</p>
      <p>In collaborazione con DL2YMR è stato realizzato un videocorso per la classe N, disponibile sul suo canale YouTube. Sono inoltre disponibili lezioni per N+E e per A.</p>
      <div class="d-grid gap-2 d-sm-flex flex-sm-wrap mb-5">
        <a href="https://www.youtube.com/playlist?list=PLDpWnjHk5ERbcgpLPUaU0iTsD-wrmfENk" class="btn btn-primary">Al videocorso classe N</a>
        <a href="https://www.youtube.com/playlist?list=PL_JZo16Mzs5XGeN5N81MwQ70dp7478VkM" class="btn btn-primary">Lezione classe N+E</a>
        <a href="https://www.youtube.com/playlist?list=PL_JZo16Mzs5XebdJhoIDLNp1MObBy7F5d" class="btn btn-primary">Lezione classe A</a>
      </div>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 0 640 512" width="48"><path d="M337.8 5.4C327-1.8 313-1.8 302.2 5.4L166.3 96 48 96C21.5 96 0 117.5 0 144L0 464c0 26.5 21.5 48 48 48l208 0 0-96c0-35.3 28.7-64 64-64s64 28.7 64 64l0 96 208 0c26.5 0 48-21.5 48-48l0-320c0-26.5-21.5-48-48-48L473.7 96 337.8 5.4zM96 192l32 0c8.8 0 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-64c0-8.8 7.2-16 16-16zm400 16c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-64zM96 320l32 0c8.8 0 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-64c0-8.8 7.2-16 16-16zm400 16c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 64c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-64zM232 176a88 88 0 1 1 176 0 88 88 0 1 1 -176 0zm88-48c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-16 0 0-16c0-8.8-7.2-16-16-16z"/></svg>
      </div>
      <h2>Corsi assistiti</h2>
      <p>Alcune delle nostre sezioni locali offrono corsi in presenza o online con formatori esperti. Scopri se c'è un corso adatto a te nelle tue vicinanze.</p>
      <div class="d-grid gap-2 d-md-block mb-5">
        <a href="https://uska.ch/amateurfunk-ausbildungskurse/" class="btn btn-primary">Elenco dei corsi disponibili</a>
      </div>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 0 448 512" width="48"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
      </div>
      <h2>Coaching</h2>
      <p>I nostri coach di formazione sono radioamatori esperti e saranno lieti di sostenerti. Possono anche esercitarsi con te nella pratica e darti consigli utili.</p>
      <div class="d-grid gap-2 d-md-block mb-5">
        <a href="todo.html" class="btn btn-primary">Al coaching USKA</a>
      </div>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 0 384 512" width="48"><path d="M192 0c-41.8 0-77.4 26.7-90.5 64L64 64C28.7 64 0 92.7 0 128L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64l-37.5 0C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM105.8 229.3c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L216 328.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM160 416a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>
      </div>
      <h2>Catalogo delle domande</h2>
      <p>Purtroppo al momento non esiste ancora un catalogo con le domande ufficiali d'esame.</p>
      <p>Qui puoi comunque scaricare un catalogo con le domande presentate nei nostri contenuti didattici.</p>
      <div class="d-grid gap-2 d-md-block mb-5">
        <a href="todo.html" class="btn btn-primary">Scarica il catalogo delle domande</a>
      </div>
    </div>
  </div>
</div>
<a rel="me" href="https://social.darc.de/@AJW"></a>
