<div class="row flex-lg-row-reverse align-items-top g-5">

    <div class="col-lg-7">
      <iframe src="https://ajw.darc.de/lehrgangskarte/" width="100%" height="800px"></iframe>
    </div>
    <div class="col-lg-5">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Corsi assistiti</li>
        </ol>
      </nav>
    
      <h1>Corsi assistiti</h1>
      <p>Formatori esperti tengono lezioni, di solito una volta alla settimana la sera. Tra un incontro e l'altro, approfondisci ed eserciti autonomamente la materia.</p>

      <a class="btn btn-outline-secondary btn-sm px-4 gap-3" href="kurse_vor_ort_liste.html">Elenco corsi</a>

      <hr class="col-md-12 mb-3">

      <div><b>Corso di formazione</b></div>
      <div class="d-grid gap-4 d-sm-flex mb-2 align-items-center">
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-neu.png">
        nuovo
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-begonnen.png">
          in corso
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-jederzeit.png">
          su richiesta
        </div>
      </div>

      <div><b>Corso online con incontri in presenza</b></div>
      <div class="d-grid gap-4 d-sm-flex mb-2 align-items-center">
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Online-neu.png">
          nuovo
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Online-begonnen.png">
          in corso
        </div>
      </div>
      
    </div>
</div>
