<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="index.html#lernen">Imparare</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mentori di formazione</li>
    </ol>
  </nav>

  <div class="row flex-lg-row-reverse align-items-top g-5 py-1">
    <div class="col-lg-7">
      <iframe src="https://ajw.darc.de/patenkarte/" width="100%" height="800px"></iframe>
    </div>
    <div class="col-lg-5">
      <h1>Mentori di formazione</h1>
      <p>I mentori di formazione sono radioamatori esperti e ti aiutano volentieri a muovere i primi passi nel radiantismo amatoriale. Rispondono alle domande, aiutano nello studio e possono anche fare pratica con te.</p>

    </div>

  </div>
