<div class="row flex-lg-row-reverse align-items-top g-5">

    <div class="col-lg-7">
      <iframe src="https://ajw.darc.de/lehrgangskarte/" width="100%" height="800px"></iframe>
    </div>
    <div class="col-lg-5">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cours accompagnés</li>
        </ol>
      </nav>
    
      <h1>Cours accompagnés</h1>
      <p>Des formateurs expérimentés proposent des leçons, généralement une fois par semaine en soirée. Entre les rencontres, tu approfondis et exerces la matière en autonomie.</p>

      <a class="btn btn-outline-secondary btn-sm px-4 gap-3" href="kurse_vor_ort_liste.html">Liste des cours</a>

      <hr class="col-md-12 mb-3">

      <div><b>Cours de formation</b></div>
      <div class="d-grid gap-4 d-sm-flex mb-2 align-items-center">
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-neu.png">
        nouveau
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-begonnen.png">
          en cours
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-jederzeit.png">
          sur demande
        </div>
      </div>

      <div><b>Cours en ligne avec séances en présence</b></div>
      <div class="d-grid gap-4 d-sm-flex mb-2 align-items-center">
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Online-neu.png">
          nouveau
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Online-begonnen.png">
          en cours
        </div>
      </div>
      
    </div>
</div>
