<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
    <li class="breadcrumb-item"><a href="index.html#lernen">Apprendre</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cours accompagnés</li>
  </ol>
</nav>

<h1>Cours accompagnés</h1>
<p>Des formateurs expérimentés proposent des leçons, généralement une fois par semaine en soirée. Entre les rencontres, tu approfondis et exerces la matière en autonomie.</p>

<a class="btn btn-outline-secondary btn-sm px-4 gap-3" href="kurse_vor_ort_karte.html">Vue cartographique</a>

<hr class="col-md-12 mb-3">

<script src="https://darc.de/fileadmin/config/Resources/Public/JavaScript/tx_t3jquery/jquery-1.8.x-1.9.x-1.2.x.js?1619439474" type="text/javascript"></script>
<script id="onlinekurse" type="text/javascript" src="https://ajw.darc.de/lehrgangskarte/onlinelehrgaenge.js"></script>
