<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
      <li class="breadcrumb-item"><a href="index.html#lernen">Apprendre</a></li>
      <li class="breadcrumb-item active" aria-current="page">Parrains de formation</li>
    </ol>
  </nav>

  <div class="row flex-lg-row-reverse align-items-top g-5 py-1">
    <div class="col-lg-7">
      <iframe src="https://ajw.darc.de/patenkarte/" width="100%" height="800px"></iframe>
    </div>
    <div class="col-lg-5">
      <h1>Parrains de formation</h1>
      <p>Les parrains de formation sont des radioamateurs expérimentés qui t'aident volontiers à faire tes premiers pas dans le radioamateurisme. Ils répondent aux questions, aident à apprendre et peuvent aussi pratiquer avec toi.</p>

    </div>

  </div>
