<div class="row flex-lg-row-reverse align-items-top g-5">

    <div class="col-lg-7">
      <iframe src="https://ajw.darc.de/lehrgangskarte/" width="100%" height="800px"></iframe>
    </div>
    <div class="col-lg-5">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Kurse vor Ort</li>
        </ol>
      </nav>
    
      <h1>Kurse vor Ort</h1>
      <p>Erfahrene Ausbilder halten &ndash; meist einmal in der Woche abends &ndash; Lektionen. Zwischen den Treffen solltest du selbständig den Lernstoff vertiefen und üben.</p>


      <a class="btn btn-outline-secondary btn-sm px-4 gap-3" href="kurse_vor_ort_liste.html">Online-Kurse</a>

      <hr class="col-md-12 mb-3">

      <div><b>Ausbildungskurs</b></div>
      <div class="d-grid gap-4 d-sm-flex mb-2 align-items-center">
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-neu.png">
        neu
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-begonnen.png">
          läuft
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Lehrgang-jederzeit.png">
          auf Anfrage
        </div>
      </div>

      <div><b>Online-Kurs mit Präsenzanteil</b></div>
      <div class="d-grid gap-4 d-sm-flex mb-2 align-items-center">
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Online-neu.png">
          neu
        </div>
        <div class="d-grid gap-2 d-sm-flex mb-2 align-items-center">
          <img src="https://ajw.darc.de/lehrgangskarte/img/Online-begonnen.png">
          läuft
        </div>
      </div>
      
    </div>
</div>
