<section>
    <h3>Guida alla navigazione</h3>
    <p>Questa guida alla navigazione mostra i primi passi per usare la presentazione. Può essere saltata con &xrarr; (freccia destra).</p>
</section>
<section style="font-size: smaller;">
    <h4>Navigazione</h4>
    <div id="left">
        <p>Tra le diapositive e le sezioni si può navigare con i tasti freccia. Possono essere usati anche i tasti freccia della tastiera del computer.</p>
        <img src="assets/images/slides/navigation.png" alt="Frecce di navigazione per la presentazione" />
    </div>
    <div id="right">
        <ul class="list">
            <li>Freccia in basso e in alto: diapositiva successiva / precedente</li>
            <li>Freccia a destra e a sinistra: sezione successiva / precedente</li>
            <li>Barra spaziatrice o « n »: mostrare gli elementi in sequenza o passare alla diapositiva successiva</li>
            <li>Maiusc-barra spaziatrice o « p »: nascondere gli elementi in sequenza inversa o tornare alla diapositiva precedente</li>
        </ul>
    </div>
</section>
<section style="font-size: smaller;">
    <h4>Altre funzioni</h4>
    <p>Con alcune scorciatoie da tastiera è possibile richiamare altre funzioni. Le più importanti sono:</p>
    <dl>
        <dt>F1</dt>
        <dd>Aiuto</dd>
        <dt>o</dt>
        <dd>Panoramica di tutte le diapositive</dd>
        <dt>s</dt>
        <dd>Vista relatore</dd>
        <dt>f</dt>
        <dd>Schermo intero</dd>
        <dt>b</dt>
        <dd>Oscurare / mettere in pausa la presentazione</dd>
        <dt>Alt-Clic</dt>
        <dd>Zoomare nella diapositiva o tornare indietro</dd>
    </dl>
</section>
<section style="font-size: smaller;">
    <h4>Panoramica</h4>
    <div id="left">
        <p>La presentazione è strutturata in due dimensioni. Le colonne rappresentano le singole sezioni di un capitolo e le righe le diapositive relative a tali sezioni.</p>
        <p>Premendo « o » si ottiene una panoramica di tutte le diapositive del set. Questo aiuta a farsi un'idea generale o a orientarsi di nuovo se si ha l'impressione di essersi persi. La navigazione avviene con i tasti freccia.</p>
    </div>
    <div id="right">
        <img src="assets/images/slides/overview.png" alt="Panoramica di tutte le diapositive" />
        <p>Facendo clic su una diapositiva, questa viene mostrata direttamente.</p>
    </div>
</section>
<section style="font-size: smaller;">
    <h4>Vista relatore</h4>
    <div id="left">
        <img src="assets/images/slides/notes.png" alt="Vista relatore" />
        <p>Premendo « s » si apre una nuova finestra, la vista relatore.</p>
        <p>Selezionando « Layout » si possono scegliere diverse disposizioni degli elementi.</p>
    </div>
    <div id="right">
        <p>La vista relatore offre i seguenti elementi:</p>
        <ul class="list">
            <li>A sinistra si vede la diapositiva attuale</li>
            <li>In alto a destra si vede la diapositiva successiva</li>
            <li>A destra al centro ci sono strumenti per la gestione del tempo</li>
            <li>In basso a destra si trovano le « note per il relatore »</li>
            <li>In basso ci sono le frecce per la navigazione</li>
        </ul>
    </div>
</section>
<section style="font-size: smaller;">
    <h3>Consigli pratici per la vista relatore</h3>
    <ul class="list">
        <li>Quando si lavora con un proiettore, nel sistema operativo si imposta l'uso di 2 monitor: la vista relatore viene mostrata per esempio sul portatile, mentre i partecipanti vedono la presentazione.</li>
        <li>Per una presentazione online, per esempio su <a href="https://treff.darc.de/">TREFF.darc.de</a>, si condivide la scheda del browser e si naviga nella finestra « Speaker View ».</li>
        <li>La vista relatore si riferisce sempre a un capitolo. Alla fine del capitolo va chiusa per aprirne una nuova nel capitolo successivo.</li>
        <li>Per evidenziare qualcosa con il puntatore del mouse o usare lo zoom, occorre spostarsi con il mouse sullo schermo che mostra la presentazione.</li>
    </ul>
</section>
<section style="font-size: smaller;">
    <h4>Schermo intero</h4>
    <p>Premendo « f » la diapositiva attuale viene mostrata a schermo intero. Con « Esc » si esce di nuovo dalla modalità a schermo intero.</p>
    <p>Questo è particolarmente pratico per lo schermo della presentazione destinato al pubblico.</p>
</section>
<section style="font-size: smaller;">
    <h4>Oscurare</h4>
    <p>Premendo « b » la presentazione viene oscurata.</p>
    <p>Può essere mostrata di nuovo nei seguenti modi:</p>
    <ul class="list">
        <li>Facendo clic nella finestra.</li>
        <li>Premendo di nuovo « b ».</li>
        <li>Facendo clic sul pulsante « Resume presentation ».</li>
    </ul>
    <img src="assets/images/slides/resume.png" alt="Pulsante Resume Presentation" />
</section>
<section style="font-size: smaller;">
    <h4>Zoom</h4>
    <p>Tenendo premuto Alt e facendo clic nella presentazione si effettua uno zoom su quella parte. È utile per mettere in evidenza dettagli di circuiti. Con un altro clic insieme ad Alt si torna indietro.</p>
    <p>Lo zoom funziona solo nella finestra selezionata. La vista relatore qui non è sincronizzata con la vista della presentazione.</p>
</section>
