<section data-background="#f3dad8">
    <h2>Questions ?</h2>
    <hr />
    <h3>Liens vers ce jeu de diapositives</h3>
    <ul>
        {% if next_chapter is defined -%}
        <li><a href="{{ edition }}_slide_{{ next_chapter["ident"] }}.html">Vers le chapitre suivant : {{
                next_chapter["title"] }}</a></li>
        {% endif -%}
        <li><a href="{{ edition }}_chapter_{{ chapter["ident"] }}.html">Vers le chapitre sur 50Ohm.de</a></li>
        <li><a href="{{ edition }}_slide_index.html">Vers la vue d'ensemble de tous les jeux de diapositives</a></li>
        <li><a href="?print-pdf">Ouvrir ce jeu de diapositives pour l'impression</a></li>
        <li><a href="?print-pdf&showNotes=true">Ouvrir ce jeu de diapositives avec les notes pour l'impression</a></li>
    </ul>
</section>
